.footer__column-link {
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  text-decoration: none;
  transition: 400ms;
}

.footer__column-link:hover {
  opacity: 0.8;
}